*,
*::before,
*::after {
     box-sizing: border-box;
}

* {
     margin: 0;
}

body {
     line-height: 1.5;
     -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
     display: block;
     max-width: 100%;
}

input,
button,
textarea,
select {
     font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
     overflow-wrap: break-word;
}

#root,
#__next {
     isolation: isolate;
}

:root {
     --violet: hsl(263, 55%, 52%);
     --dk-gray-blue: hsl(217, 19%, 35%);
     --dk-black-blue: hsl(219, 29%, 14%);
     --white: hsl(0, 0%, 100%);
     --lt-gray: hsl(0, 0%, 81%);
     --lt-gray-blue: hsl(210, 46%, 95%);
}


body {
     font-family: 'Barlow Semi Condensed', sans-serif;
     font-weight: 500;
     background-color: var(--lt-gray-blue);
}

main {
     max-width: 70rem;
}

.card {
     max-width: 90%;
     border-radius: 1rem;
     background-color: var(--lt-gray);

     margin-block: 0 1rem;
     margin-inline: auto;
     padding: 1.75rem;

     box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.card .card-header {
     display: flex;
     align-items: center;
     justify-items: start;
     gap: 1rem;
     margin-block-end: 1rem;
}

.card-header img {
     border-radius: 9999px;
     border: 3px solid var(--lt-gray);
     max-width: 3rem;
}

.card-header h2 {
     font-size: 1.1rem;
}

.card-header h2 span {
     display: block;
     font-size: .9rem;
     opacity: 0.5;
}

.card p {
     line-height: 1.2;
     opacity: 0.7;
}

.card p.quote {
     font-weight: 600;
     font-size: 1.5rem;
     margin-block-end: 1rem;
}


.dan {
     background-color: var(--violet);
     color: var(--white);
}

.jon {
     background-color: var(--dk-gray-blue);
     color: var(--white);
}

.jean {
     background-color: var(--white);
     color: var(--dk-black-blue);
}

.pat {
     background-color: var(--dk-black-blue);
     color: var(--white);
}

.kira {
     background-color: var(--white);
     color: var(--dk-black-blue);
}





@media (min-width: 768px) {

     .container {
          width: 100dvw;
          height: 100dvh;
          display: flex;
          justify-content: center;
          align-items: center;
     }


     main {
          margin-inline: auto;


          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr;

          gap: 2rem;
     }

     .card {
          margin-block: 0;
          margin-inline: 0;

          font-size: .9em;
          max-width: 100%;
     }

     .dan {
          grid-column: 1 / span 2;
     }

     .jon {
          grid-column: 3;
     }

     .jean {}

     .pat {
          grid-column: 2 / span 2;
          grid-row: 2;
     }

     .kira {
          grid-column: 4;
          grid-row: 1 / span 2;
     }

}